
*{
    margin: 0;
    padding: 0;
      /* border: 1px dashed greenyellow;   */
}
nav{
    overflow: hidden;
}
.navbar{
    background-color: #333;
    opacity:0.7;
    overflow: hidden;
    width: 99%;
    
}

.navbar-nav{
    /* margin-left: auto; */
    color: #fff;
    /* margin-right: 200px; */
}

.navbar-nav li a{
    color:#fff;
    text-decoration: none;
}
 .navbar button aria {
    color:#fff;
    /* text-decoration: none; */
/* margin-left: -200px; */

}



/* section one  */

 

.slider{
overflow: hidden;
width:100%;
height: 100vh;
}

.slider figure div{
    float:left;
    width:20%;
}

.slider figure img{
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float:left;
}
.slider figure {
  position: relative;  
  width :500%;
  margin:0;
  animation:animate 30s infinite;
}
.p{
    position :absolute;
    color:rgb(216, 127, 25);
    font-size: 70px;
    text-align: center;
    padding-top: 250px;
    background: rgba(0,0,0,0.5);
    width:100vw;
    height:100vh ;
}
.p span{
    font-size: 2.8rem;
    
}
@keyframes animate{
 0%{left:0;}
 10%{left:0;}
 12%{left:-100;}
 22%{left:-100%;}
 24%{left:-200%;}
 34%{left:-200%;}
 36%{left:-300%;}
 46%{left:-300%;}
 48%{left:-400%;}
 58%{left:-400%;}
 60%{left:-300%;}
 70%{left:-300%;}
 72%{left:-200%;}
 82%{left:-200%;}
 84%{left:-100%;}
 94%{left:-100%;}
  96%{left:0;} 
}
/* end of section one */


/* section 2 */
.sec-2{
    height: auto;
    width: 100%;

}
h2{
    color:rgb(216, 127, 25);
    font-size: 2.8rem;
    text-align: center;
    margin-top:50px;
}

p{
    width: 70%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position:relative;
    top:30%;
}
.chef{
    position:relative;
    left:20%;
}

.variety{
    /* background-color: rgba(0,0,0,0.5); */
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
}
.variety-p span{
    font-size:30px ;
    color: rgb(216, 127, 25);
  
   
}

/* section 3 */
.sec-3{
    /* background-image: url(./assets/background.6.jpg); */
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.sec-3 h5{
    text-align: center;
}

.one,.two,.three{
    /* max-width: 100%; */
    /* max-height: 100px; */
    padding-top: 25px;
}
/* end of section 3 */


/* section 4 */
.sec-4{
    background-image: url(./assets/background.6.jpg);
    height:auto;
    width: 100%;
    background-size: cover;
    text-align: center;
    
}
form{
    width:500px;
    margin: auto;
    background-color:rgba(0,0,0,0.5);
    color:rgb(216, 127, 25) ;
    border-radius: 10px;
    padding: 50px;
}
.sec-4 button{
    width: 100px;
    margin: auto;
    color:rgb(216, 127, 25);
    margin-top: 10px;
    transform: scale(0.85);
    border-radius: 40%;
    
}
table{
    background-color: #fff;
}
.form2{
display: none;
}
/* end of section 4 */

/* footer */

footer{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    
}
footer p{
    margin: auto;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    width: 75%;
}
footer div{
    margin: auto;

}
social-icons{
    padding: 20px;
}
/* end of footer */


 @media screen and (max-width:1400px) {
   .sec-2 p {
    position:relative;
    top:20%; 
    left:10%;
   } 
   .chef{
    position:relative;
    top:20%;
    margin-left:-50px;
   }
 } 

 @media screen and (max-width:1220px){

    .p{
        font-size: 50px;
        padding-top: 200px;
    
    }  
    .p span{
        font-size: 2.5rem;
        
    } 
    .sec-2 p {
        position:relative;
        top:18%; 
        left:12%;
       } 
       .chef{
        position:relative;
        top:18%;
        margin-left:-30px;
       }
       
       .navbar{
           height:15%;
       }
       .navbar-brand{
           height: 110px;
           width:120px
       }
 }

 @media screen and (max-width:1200px){
    .sec-2 p {
        position:relative;
        top:25%; 
        left:40%;
        width:100% ;
       }  
       .chef{
        position:relative;
        top:-10%;
        margin-left:-150px;
       }
       .navbar{
        width: 98%;
        margin-left:10px;
    }
        .form{
            width:450px;
    }
    .variety{
       position: relative;
       left: -30px;
    }
 }

 @media screen and (max-width:990px){
#one,#two,#three,#four{
    margin-left: -50px;
}
.navbar{
    width: 98%;
    margin-left:12px;
}
.chef{
    position:relative;
    top:-10%;
    margin-left:-90px;
   }
   .sec-2 p {
    position:relative;
    top:20%; 
    left:0%;
    width:100% ;
   }  
   .p{
    font-size: 47px;
    padding-top: 150px;

}  
.p span{
    font-size: 2.3rem;
    
} 
.row{
position: relative;
left:10%;
}
 }

 @media screen and (max-width:790px){
    .navbar{
        width: 85%;
        height: auto;
        margin-left:12px;
    }
    .navbar button {
        position: relative;
        right: 20px;
    }
    .form{
        width:200px;
        padding: 10px;
        margin-left: -50px;
    }
    .sec-2 p {
        position:relative;
        top:10%; 
        left:10%;
        width:70% ;
}
.row{
    position: relative;
    left:0%;
    }
    .p{
        font-size: 30px;
        padding-top: 150px;
    
    }  
    .p span{
        font-size: 2rem;
        
    } 
    #form2{
        width:300px;
    /* margin-left: -10px; */
    }
    h2{
        font-size: 1.8rem;
    }
}